{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * money plugin for Craft CMS 3.x
 *
 * money Settings.twig
 *
 * @author    Flow Communications
 * @copyright Copyright (c) 2019 Flow Communications
 * @link      www.flowsa.com
 * @package   Money
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("flowsa\\money\\assetbundles\\money\\MoneyAsset") %}

{{ forms.textField({
    label: 'Exchange Rates API',
    instructions: 'Get key https://v6.exchangerate-api.com/',
    id: 'apikey',
    name: 'apikey',
    value: settings['apikey']})
}}
